<template>
  <div class="system">
    <el-form ref="form" :model="config" label-width="240px">
      <!--  System start  -->
      <el-collapse v-model="activeNames">
        <el-collapse-item title="System Configuration" name="1">
          <el-form-item label="environmental value">
            <!-- <el-input v-model="config.system.env" />-->
            <el-select v-model="config.system.env" style="width:100%">
              <el-option value="public" />
              <el-option value="develop" />
            </el-select>
          </el-form-item>
          <el-form-item label="port value">
            <el-input v-model.number="config.system.addr" />
          </el-form-item>
          <el-form-item label="database type">
            <el-select v-model="config.system['db-type']" style="width:100%">
              <el-option value="mysql" />
              <el-option value="pgsql" />
            </el-select>
          </el-form-item>
          <el-form-item label="Oss type">
            <el-select v-model="config.system['oss-type']" style="width:100%">
              <el-option value="local" />
              <el-option value="qiniu" />
              <el-option value="tencent-cos" />
              <el-option value="aliyun-oss" />
              <el-option value="huawei-obs" />
            </el-select>
          </el-form-item>
          <el-form-item label="Multi-sign-on blocking">
            <el-checkbox v-model="config.system['use-multipoint']">Enable</el-checkbox>
          </el-form-item>
          <el-form-item label="open redis">
            <el-checkbox v-model="config.system['use-redis']">Enable</el-checkbox>
          </el-form-item>
          <el-form-item label="Current limiting frequency">
            <el-input-number v-model.number="config.system['iplimit-count']" />
          </el-form-item>
          <el-form-item label="Limit time">
            <el-input-number v-model.number="config.system['iplimit-time']" />
          </el-form-item>
          <el-tooltip
            content="Please pay attention to modify the VITE_BASE_PATH in the front-end env environment after the modification"
            placement="top-start"
          >
            <el-form-item label="global routing prefix">
              <el-input v-model="config.system['router-prefix']" />
            </el-form-item>
          </el-tooltip>
        </el-collapse-item>
        <el-collapse-item title="jwt signature" name="2">
          <el-form-item label="jwt signature">
            <el-input v-model="config.jwt['signing-key']" />
          </el-form-item>
          <el-form-item label="validity period">
            <el-input v-model="config.jwt['expires-time']" />
          </el-form-item>
          <el-form-item label="grace period">
            <el-input v-model="config.jwt['buffer-time']" />
          </el-form-item>
          <el-form-item label="issuer">
            <el-input v-model="config.jwt.issuer" />
          </el-form-item>
        </el-collapse-item>
        <el-collapse-item title="Zap log configuration" name="3">
          <el-form-item label="level">
            <el-input v-model.number="config.zap.level" />
          </el-form-item>
          <el-form-item label="output">
            <el-input v-model="config.zap.format" />
          </el-form-item>
          <el-form-item label="log prefix">
            <el-input v-model="config.zap.prefix" />
          </el-form-item>
          <el-form-item label="log folder">
            <el-input v-model="config.zap.director" />
          </el-form-item>
          <el-form-item label="coding level">
            <el-input v-model="config.zap['encode-level']" />
          </el-form-item>
          <el-form-item label="stack name">
            <el-input v-model="config.zap['stacktrace-key']" />
          </el-form-item>
          <el-form-item label="Log retention time(Default is in days)">
            <el-input v-model.number="config.zap['max-age']" />
          </el-form-item>
          <el-form-item label="display line">
            <el-checkbox v-model="config.zap['show-line']" />
          </el-form-item>
          <el-form-item label="output console">
            <el-checkbox v-model="config.zap['log-in-console']" />
          </el-form-item>
        </el-collapse-item>
        <el-collapse-item title="Redis admin database configuration" name="4">
          <el-form-item label="redis DB">
            <el-input v-model.number="config.redis.db" />
          </el-form-item>
          <el-form-item label="address">
            <el-input v-model="config.redis.addr" />
          </el-form-item>
          <el-form-item label="password">
            <el-input v-model="config.redis.password" />
          </el-form-item>
        </el-collapse-item>

        <el-collapse-item title="email configuration" name="5">
          <el-form-item label="recipient email">
            <el-input v-model="config.email.to" placeholder="Can be multiple, separated by commas" />
          </el-form-item>
          <el-form-item label="port">
            <el-input v-model.number="config.email.port" />
          </el-form-item>
          <el-form-item label="sender email">
            <el-input v-model="config.email.from" />
          </el-form-item>
          <el-form-item label="host">
            <el-input v-model="config.email.host" />
          </el-form-item>
          <el-form-item label="YesNo for ssl">
            <el-checkbox v-model="config.email['is-ssl']" />
          </el-form-item>
          <el-form-item label="secret">
            <el-input v-model="config.email.secret" />
          </el-form-item>
          <el-form-item label="test mail">
            <el-button @click="email">test mail</el-button>
          </el-form-item>
        </el-collapse-item>
        <el-collapse-item title="verification code configuration" name="7">
          <el-form-item label="character length">
            <el-input v-model.number="config.captcha['key-long']" />
          </el-form-item>
          <el-form-item label="platform width">
            <el-input v-model.number="config.captcha['img-width']" />
          </el-form-item>
          <el-form-item label="image height">
            <el-input v-model.number="config.captcha['img-height']" />
          </el-form-item>
        </el-collapse-item>
        <el-collapse-item title="Data library configuration" name="9">
          <template v-if="config.system['db-type'] === 'mysql'">
            <el-form-item label="username">
              <el-input v-model="config.mysql.username" />
            </el-form-item>
            <el-form-item label="password">
              <el-input v-model="config.mysql.password" />
            </el-form-item>
            <el-form-item label="address">
              <el-input v-model="config.mysql.path" />
            </el-form-item>
            <el-form-item label="database Name">
              <el-input v-model="config.mysql['db-name']" />
            </el-form-item>
            <el-form-item label="prefix">
              <el-input v-model="config.mysql['refix']" />
            </el-form-item>
            <el-form-item label="plural table">
              <el-switch v-model="config.mysql['singular']" />
            </el-form-item>
            <el-form-item label="engine">
              <el-input v-model="config.mysql['engine']" />
            </el-form-item>
            <el-form-item label="maxIdleConns">
              <el-input v-model.number="config.mysql['max-idle-conns']" />
            </el-form-item>
            <el-form-item label="maxOpenConns">
              <el-input v-model.number="config.mysql['max-open-conns']" />
            </el-form-item>
            <el-form-item label="write log">
              <el-checkbox v-model="config.mysql['log-zap']" />
            </el-form-item>
            <el-form-item label="log mode">
              <el-input v-model="config.mysql['log-mode']" />
            </el-form-item>
          </template>
          <template v-if="config.system['db-type'] === 'pgsql'">
            <el-form-item label="username">
              <el-input v-model="config.pgsql.username" />
            </el-form-item>
            <el-form-item label="password">
              <el-input v-model="config.pgsql.password" />
            </el-form-item>
            <el-form-item label="address">
              <el-input v-model="config.pgsql.path" />
            </el-form-item>
            <el-form-item label="DB Name">
              <el-input v-model="config.pgsql.dbname" />
            </el-form-item>
            <el-form-item label="prefix">
              <el-input v-model="config.pgsql['refix']" />
            </el-form-item>
            <el-form-item label="plural table">
              <el-switch v-model="config.pgsql['singular']" />
            </el-form-item>
            <el-form-item label="engine">
              <el-input v-model="config.pgsql['engine']" />
            </el-form-item>
            <el-form-item label="maxIdleConns">
              <el-input v-model.number="config.pgsql['max-idle-conns']" />
            </el-form-item>
            <el-form-item label="maxOpenConns">
              <el-input v-model.number="config.pgsql['max-open-conns']" />
            </el-form-item>
            <el-form-item label="write log">
              <el-checkbox v-model="config.pgsql['log-zap']" />
            </el-form-item>
            <el-form-item label="log mode">
              <el-input v-model="config.pgsql['log-mode']" />
            </el-form-item>
          </template>
        </el-collapse-item>

        <el-collapse-item title="oss configuration" name="10">
          <template v-if="config.system['oss-type'] === 'local'">
            <h2>Local file configuration</h2>
            <el-form-item label="local file access path">
              <el-input v-model="config.local.path" />
            </el-form-item>
            <el-form-item label="local file storage path">
              <el-input v-model="config.local['store-path']" />
            </el-form-item>
          </template>
          <template v-if="config.system['oss-type'] === 'qiniu'">
            <h2>qiniu upload configuration</h2>
            <el-form-item label="storage area">
              <el-input v-model="config.qiniu.zone" />
            </el-form-item>
            <el-form-item label="space name">
              <el-input v-model="config.qiniu.bucket" />
            </el-form-item>
            <el-form-item label="CDN accelerated domain name">
              <el-input v-model="config.qiniu['img-path']" />
            </el-form-item>
            <el-form-item label="Whether to use https">
              <el-checkbox v-model="config.qiniu['use-https']">Enable</el-checkbox>
            </el-form-item>
            <el-form-item label="accessKey">
              <el-input v-model="config.qiniu['access-key']" />
            </el-form-item>
            <el-form-item label="secretKey">
              <el-input v-model="config.qiniu['secret-key']" />
            </el-form-item>
            <el-form-item label="Whether to use CDN upload acceleration for uploading">
              <el-checkbox v-model="config.qiniu['use-cdn-domains']">Enable</el-checkbox>
            </el-form-item>
          </template>
          <template v-if="config.system['oss-type'] === 'tencent-cos'">
            <h2>Tencent Cloud COS upload configuration</h2>
            <el-form-item label="bucket name">
              <el-input v-model="config['tencent-cos']['bucket']" />
            </el-form-item>
            <el-form-item label="Area of ​​affiliation">
              <el-input v-model="config['tencent-cos'].region" />
            </el-form-item>
            <el-form-item label="secretID">
              <el-input v-model="config['tencent-cos']['secret-id']" />
            </el-form-item>
            <el-form-item label="secretKey">
              <el-input v-model="config['tencent-cos']['secret-key']" />
            </el-form-item>
            <el-form-item label="pathprefix">
              <el-input v-model="config['tencent-cos']['path-prefix']" />
            </el-form-item>
            <el-form-item label="access domain name">
              <el-input v-model="config['tencent-cos']['base-url']" />
            </el-form-item>
          </template>
          <template v-if="config.system['oss-type'] === 'aliyun-oss'">
            <h2>Alibaba Cloud OSS upload configuration</h2>
            <el-form-item label="Area">
              <el-input v-model="config['aliyun-oss'].endpoint" />
            </el-form-item>
            <el-form-item label="accessKeyId">
              <el-input v-model="config['aliyun-oss']['access-key-id']" />
            </el-form-item>
            <el-form-item label="accessKeySecret">
              <el-input v-model="config['aliyun-oss']['access-key-secret']" />
            </el-form-item>
            <el-form-item label="bucket name">
              <el-input v-model="config['aliyun-oss']['bucket-name']" />
            </el-form-item>
            <el-form-item label="access domain name">
              <el-input v-model="config['aliyun-oss']['bucket-url']" />
            </el-form-item>
          </template>
          <template v-if="config.system['oss-type'] === 'huawei-obs'">
            <h2>HUAWEI CLOUD Obs upload configuration</h2>
            <el-form-item label="path">
              <el-input v-model="config['hua-wei-obs'].path" />
            </el-form-item>
            <el-form-item label="bucket name">
              <el-input v-model="config['hua-wei-obs'].bucket" />
            </el-form-item>
            <el-form-item label="Area">
              <el-input v-model="config['hua-wei-obs'].endpoint" />
            </el-form-item>
            <el-form-item label="accessKey">
              <el-input v-model="config['hua-wei-obs']['access-key']" />
            </el-form-item>
            <el-form-item label="secretKey">
              <el-input v-model="config['hua-wei-obs']['secret-key']" />
            </el-form-item>
          </template>

        </el-collapse-item>

        <el-collapse-item title="Excel upload configuration" name="11">
          <el-form-item label="synthetic target address">
            <el-input v-model="config.excel.dir" />
          </el-form-item>
        </el-collapse-item>

        <el-collapse-item title="Automated code configuration" name="12">
          <el-form-item label="YesNo automatic restart (linux)">
            <el-checkbox v-model="config.autocode['transfer-restart']" />
          </el-form-item>
          <el-form-item label="root (project root path)">
            <el-input v-model="config.autocode.root" disabled />
          </el-form-item>
          <el-form-item label="Server(backend code address)">
            <el-input v-model="config.autocode['transfer-restart']" />
          </el-form-item>
          <el-form-item label="SApi(backend API folder address)">
            <el-input v-model="config.autocode['server-api']" />
          </el-form-item>
          <el-form-item label="SInitialize(Backend Initializefolder)">
            <el-input v-model="config.autocode['server-initialize']" />
          </el-form-item>
          <el-form-item label="SModel(Backend Model file address)">
            <el-input v-model="config.autocode['server-model']" />
          </el-form-item>
          <el-form-item label="SRequest(Backend Requestfolderaddress)">
            <el-input v-model="config.autocode['server-request']" />
          </el-form-item>
          <el-form-item label="SRouter(Backend Router folder address)">
            <el-input v-model="config.autocode['server-router']" />
          </el-form-item>
          <el-form-item label="SService(Backend Service folder address)">
            <el-input v-model="config.autocode['server-service']" />
          </el-form-item>
          <el-form-item label="Web(front-end folder address)">
            <el-input v-model="config.autocode.web" />
          </el-form-item>
          <el-form-item label="WApi(backend WApi folder address)">
            <el-input v-model="config.autocode['web-api']" />
          </el-form-item>
          <el-form-item label="WForm(backend WForm folder address)">
            <el-input v-model="config.autocode['web-form']" />
          </el-form-item>
          <el-form-item label="WTable(Backend WTable folder address)">
            <el-input v-model="config.autocode['web-table']" />
          </el-form-item>
        </el-collapse-item>

        <el-collapse-item title="Timer(timed task)" name="13">
          <el-form-item label="Start（when to enable）">
            <el-checkbox v-model="config.timer['start']" />
          </el-form-item>
          <el-form-item label="Spec(CRON expression)">
            <el-input v-model="config.timer.spec" />
          </el-form-item>
          <template v-for="(item,k) in config.timer.detail">
            <div v-for="(_,k2) in item" :key="k2">
              <el-form-item :key="k+k2" :label="k2">
                <el-input v-model="item[k2]" />
              </el-form-item>
            </div>
          </template>
        </el-collapse-item>
      </el-collapse>
    </el-form>
    <div class="gva-btn-list">
      <el-button type="primary" @click="update">update now</el-button>
      <el-button type="primary" @click="reload">restart service (under development)</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Config'
}
</script>
<script setup>
import { getSystemConfig, setSystemConfig } from '@/api/system'
import { emailTest } from '@/api/email'
import { ref, reactive } from 'vue'
import { ElMessage } from 'element-plus'

const activeNames = reactive([])
const config = ref({
  system: {
    'iplimit-count': 0,
    'iplimit-time': 0
  },
  jwt: {},
  mysql: {},
  pgsql: {},
  excel: {},
  autocode: {},
  redis: {},
  qiniu: {},
  'tencent-cos': {},
  'aliyun-oss': {},
  'hua-wei-obs': {},
  captcha: {},
  zap: {},
  local: {},
  email: {},
  timer: {
    detail: {}
  }
})

const initForm = async() => {
  const res = await getSystemConfig()
  if (res.code === 0) {
    config.value = res.data.config
  }
}
initForm()
const reload = () => {}
const update = async() => {
  const res = await setSystemConfig({ config: config.value })
  if (res.code === 0) {
    ElMessage({
      type: 'success',
      message: 'configuration file setup successfully'
    })
    await initForm()
  }
}
const email = async() => {
  const res = await emailTest()
  if (res.code === 0) {
    ElMessage({
      type: 'success',
      message: 'Email Sent successfully'
    })
    await initForm()
  } else {
    ElMessage({
      type: 'error',
      message: 'Email Failed to send'
    })
  }
}

</script>

<style lang="scss">
.system {
  background: #fff;
  padding:36px;
  border-radius: 2px;
  h2 {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    box-shadow: -4px 0px 0px 0px #e7e8e8;
  }
  ::v-deep(.el-input-number__increase){
    top:5px !important;
  }
  .gva-btn-list{
    margin-top:16px;
  }
}
</style>
